Given a location dataframe, with a single column "City/tState", return the preprocessed dataframe with names of City and State separated.

In [1]:
import pandas as pd
df = pd.DataFrame({'City\tState' : ['Kolkata\tWest Bengal','Chennai\tTamil Nadu','Hyderabad\tTelengana','Bangalore\tKarnataka']})
df

            City\tState
0  Kolkata\tWest Bengal
1   Chennai\tTamil Nadu
2  Hyderabad\tTelengana
3  Bangalore\tKarnataka

In [4]:
def location_divider(df):
    df_new = None

   ### the following coede will take all the string values of the column and split it, expand = True means after splitting the values will get divided into two different columns automatically. But the columnnames will be 0 and 1.
    df_new = df['City\tState'].str.split('\t', expand=True)

    ### this will make the column names. simply making the list of columns throught splitting column name 'city\tstate'
    df_new.columns = df.columns[0].split('\t')

    return df_new

In [3]:
location_divider(df)

        City        State
0    Kolkata  West Bengal
1    Chennai   Tamil Nadu
2  Hyderabad    Telengana
3  Bangalore    Karnataka