In [87]:
import pandas as pd
df = pd.read_csv("input_data_raw.csv")
df

    id  dataPoints
0    0        72.0
1    1        69.0
2    2        83.0
3    3        70.0
4    4        78.0
..  ..         ...
95  95        99.0
96  96        61.0
97  97        79.0
98  98        99.0
99  99        99.0

[100 rows x 2 columns]

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   dataPoints  92 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB

replacing null or nan values with 0

In [89]:
df.fillna(value = 0,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   dataPoints  100 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB

replacing -inf with -1 and +inf with +1

In [90]:
import numpy as np
df.replace({np.inf:1,-np.inf:-1}, inplace=True)

In [91]:
df['dataPoints'].unique()

array([72., 69., 83., 70., 78., 84., 86., 50., 71.,  0., 96., 93., 90.,
       92., 61., 66., -1., 63., 94.,  1., 58., 74., 91., 88., 82., 51.,
       75., 55., 97., 53., 54., 95., 57., 81., 77., 76., 73., 60., 59.,
       89., 99., 79.])

replacing numbers with their square roots

In [92]:
df_non_int = df.loc[(~df['dataPoints'].isin(range(50,101)))]
df_non_int.head()

    id  dataPoints
9    9         0.0
17  17         0.0
18  18        -1.0
19  19        -1.0
25  25        -1.0

In [93]:
df_int = df.loc[(df['dataPoints'].isin(range(50,101)))]
df_int.head()

   id  dataPoints
0   0        72.0
1   1        69.0
2   2        83.0
3   3        70.0
4   4        78.0

In [94]:
df_int['dataPoints'] = df_int['dataPoints']**0.5

C:\Users\writa\AppData\Local\Temp/ipykernel_7560/4011484900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_int['dataPoints'] = df_int['dataPoints']**0.5

In [97]:
df_int = df_int.round(2)
df_int

    id  dataPoints
0    0        8.49
1    1        8.31
2    2        9.11
3    3        8.37
4    4        8.83
..  ..         ...
95  95        9.95
96  96        7.81
97  97        8.89
98  98        9.95
99  99        9.95

[71 rows x 2 columns]

In [103]:
df_final = pd.concat([df_int,df_non_int]).sort_index()
df_final.set_index('id')

    dataPoints
id
0         8.49
1         8.31
2         9.11
3         8.37
4         8.83
..         ...
95        9.95
96        7.81
97        8.89
98        9.95
99        9.95

[100 rows x 1 columns]

In [104]:
df_final.to_csv('output_data.csv')