In df, usernames are the names of learners' accounts shown on a video-conferencing app they use for taking classes. The instructors clearly said to the learners that usernames must contain the real name (name) of the learners.

We tried to print the userid of the learners who haven't followed the instruction:

In [3]:
import pandas as pd
df = pd.DataFrame({'name' : ['Jim','Clarke','Kent'],
                    'username' : ['itsjimhere','clark002','itskentment'],
                    'userid' : [20,10,86]})
df

     name     username  userid
0     Jim   itsjimhere      20
1  Clarke     clark002      10
2    Kent  itskentment      86

In [4]:
def check(name,username):
    return name.lower() in username

In [7]:
mask = df.apply(lambda x : check(x['name'],x['username']), axis=1)

In [8]:
df[~mask]

     name  username  userid
1  Clarke  clark002      10